<!doctype html>
<html>
  <head>
    <title>CriSee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/addevent.css" rel="stylesheet">
    <link href="css/slider.css" rel="stylesheet">

    <!-- JavaScript -->
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/jquery.mobile.custom.js"></script>
    <script src="js/jquery.mobile.custom.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/bootstrap-slider.js"></script>
    <script src="js/apple-mobile-webapp.js" ></script>
  </head>

  <body>
    <h2>Add Event</h2>

    <div class="container">
      <br/>

      <!--Alert buttons-->
      {{#if missing_fields}}
      <div id="missing-fields" class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <center>Name and Date fields are required.</center>
      </div>
      {{/if}}

      <form role="form" method="post" action="/addevent">
        <input type="hidden" id="id" name="id" value="{{ id }}"></input>
        <div class="form-group">
          <label for="eventName">Event Name</label>
          <input type="text" class="form-control" id="eventName" placeholder="Enter event" name="description" value="{{ eventname }}"></input>
        </div>

        <div class="form-group">
          <label for="deadline">Date</label>
          <input type="date" class="form-control" id="deadline" value="{{ date }}" name="deadline"></input>
        </div>
        <div class="form-group">
          <label for="R">Stress Level</label><br/>
          <span id="sliderSpan">
            <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="1" data-slider-id="RC" id="R" data-slider-tooltip="hide" data-slider-handle="round" name="difficulty"></input>
          </span>
        </div>


        <br/>
        <input type="submit" id="submitBtn" class="btn btn-primary" value="Add Event to Calendar"></input>
        <a href="../" id="cancelBtn" class="btn btn-default pull-right" role="button">Cancel</a>

      </form>
    </div>

    <script>
      var clicked = false;

      $(document).ready(function() {
        var sliderSpan = $('#sliderSpan');
        var slider = $('#R').data('slider');

        sliderSpan.on('touchstart vmousedown', function(){
          //These events only seem to get sent on the mobile version
          clicked = true;
        })

        sliderSpan.on('touchmove vmousemove', function(event){
          if (clicked === true && event.type === "vmousemove") {
            var percent = (event.clientX - sliderSpan[0].offsetLeft)/sliderSpan[0].clientWidth;
            slider.setValue(percent*100);
            RGBChange();
          }
        })

        sliderSpan.on('touchend vmouseup', function(){
          clicked = false;
        });
      });
    </script>

    <script>
      var RGBChange = function() {
        var currVal = r.getValue();

        var red = 245;
        var green = (100 - currVal) * 2.5;
        var blue = (100 - currVal) * 2.5;
        red = parseInt(red.toFixed(0));
        green = parseInt(green.toFixed(0));
        blue = parseInt(blue.toFixed(0));

        $('#RC .slider-selection').css('background', 'rgb('+ red +','+ green +','+ blue +')')
        $('#RC .slider-handle').css('background', 'rgb('+ red +','+ green +','+ blue +')')

      };
      var r = $('#R').slider()
      .on('slide', RGBChange)
      .data('slider');

      r.setValue({{ stresslevel }});
      RGBChange();
    </script>

  </body>
</html>
