<!doctype html>
<html>
  <head>
    <title>CriSee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <!-- CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/calendar.css" rel="stylesheet">
  </head>
  <body>
    <center>
      <div class="container">

        <div id="cal"></div>

      </div>
    </center>

    <!-- JavaScript -->
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>

    <script type="text/javascript" src="js/Calendar.js"></script>
    <script type="text/javascript">
      var cal1 = new Calendar("cal");
      cal1.render(new Date());
    </script>
  </body>
</html>
