<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="css/calendar.css"></link>
    <title>Try Calendar</title>
  </head>
  <body>
    <div id="cal1"></div>
    <div id="cal2"></div>

    <!-- javascript -->
    <script type="text/javascript" src="js/Calendar.js"></script>
    <script type="text/javascript">
      var cal1 = new Calendar("cal1");
      cal1.render(new Date());
    </script>
  </body>
</html>
