<!doctype html>
<html>
  <head>
    <title>CriSee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <!-- CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/calendar-obj.css" rel="stylesheet">
  </head>
  <body>
    <!-- header -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="btn-group btn-group-justified">
          <a class="btn btn-default active" role="button">
            <span class="glyphicon glyphicon-calendar"></span> Calendar View
          </a>
          <a class="btn btn-default" role="button" href="/list">
            <span class="glyphicon glyphicon-list"></span> List View
          </a>
        </div>
      </div>
    </div>
    </nav>
    <!-- footer -->
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="btn-group btn-group-justified">
          <a class="btn btn-default" role="button" href="/">
            <span class="glyphicon glyphicon-home"></span>
          </a>
          <a class="btn btn-default" role="button" href="/search">
            <span class="glyphicon glyphicon-search"></span>
          </a>
          <a class="btn btn-default" role="button" href="/help">
            <span class="glyphicon glyphicon-question-sign"></span>
          </a>
          <a class="btn btn-default" role="button" href="/settings">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
          <a class="btn btn-default" role="button" href="/logout">
            <span class="glyphicon glyphicon-log-out"></span>
          </a>
        </div>
      </div>
    </div>
    </nav>



    <center>
     <div class="container">

        <div id="cal"></div>
        <div id="dayview">
          <p>No events listed for date</p>
          <a id="addeventbutton" href="/addevent">Add Event</a>
        </div>

      </div>
    </center>


    <!-- JavaScript -->
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/Calendar.js"></script>
    <script type="text/javascript">
      var cal = new Calendar("cal");
      cal.render(new Date());
    </script>
  </body>
</html>
