<!doctype html>
<html>
  <head>
    <title>CriSee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <!-- CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">

      <h1>Help</h1>
      <p><b>Welcome to Cri-See!</b></p>
      <br/>
      <p>Our goal is to help you manage and (hopefully) avoid your academic crises.  It’s very simple:</p>
      <br/>
      <p><b>1) Click on “Add Event”.</b></p>
      <p>This will allow you to add an assignment/test/quiz to your crisis monitor.</p>
      <br/>
      <p><b>2) Fill out each of the criteria for the event.</b></p>
      <p>You can click Add Tag to create a new selection in each of the drop-down menus. </p>
      <br/>
      <p><b>3) Select a stress reading.</b></p>
      <p>This is how you feel about the difficulty of the assignment/task. Try to be as accurate as possible because this information will help us calculate your crisis calendar.</p>
      <br/>
      <p><b>4) Click “Done”.</b></p>
      <p>You’ve added an event to your crisis calendar!</p>
      <br/>
      <p><b>5) Continue adding all of your academic deadlines.</b></p>
      <p>If you provide us with all of your academic deadlines and stress, we can provide you with the most accurate readings on your crisis calendar and a peace of mind.</p>
      <br/>
      <p><b><i>May your Cri-see disappear.</i></b></p>

    </div>

    <!-- JavaScript -->
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
