<!doctype html>
<html>
  <head>
    <title>CriSee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/help.css" rel="stylesheet">
    <link href="css/navbar.css" rel="stylesheet">

    <!-- JavaScript -->
    <script src="js/apple-mobile-webapp.js" ></script>
  </head>
  <body>
    <h2> Help </h2>

    <div class="container">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                What is CriSee?
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
            <p>We help you predict and stay healthy during your academic crises periods.</p>
            <p>Enter your major academic deadlines and stress levels (a rough estimate of how much work each deadline is going to take) and we provide you with a color coded calendar that helps you visualize how busy you will be during different periods (green areas mean you won’t be working too hard, red areas mean you will be working really hard!). </p>
            <p> If you enable notifications from the settings page we will send you specific, easily actionable tips and reminders about ways you can stay healthy during these times of crises.</p> 
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                How do I add events to my calendar?
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <p>  It’s very simple:</p>
              <p><b>1) Click on “Add Event”.</b></p>
              <p>This will allow you to add an assignment/test/quiz to your crisis monitor.</p>
              <p><b>2) Fill out each of the criteria for the event.</b></p>
              <p>This includes the name of the assignment and its due date.</p>
              <p><b>3) Select a stress reading.</b></p>
              <p>This is how you feel about the difficulty of the assignment/task. Try to be as accurate as possible because this information will help us calculate your crisis calendar.</p>
              <p><b>4) Click "Add Event to Calendar".</b></p>
              <p>You’ve added an event to your crisis calendar!</p>
            </div>
          </div>
        </div>
       
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                How do I edit/delete an event?
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <p><b>1) Edit</b></p> <p>Click on the event you want to delete and the “edit” page for that event will pop up </p>
              <p><b>2) Delete</b></p> <p>On the “edit” page for an event you can hit the “delete” button to delete the event.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                How does Crisee Work?
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
              <p> If you say that a deadline is very stressful we add more “work” to the days leading up to the deadline, shifting the color from green towards red on those days - with “hotter” colors on the days as they get closer to the deadline.</p>
             <p>When you have multiple deadlines on the same day, that “work” on the days leading up to the deadline adds up and the color during those days get even “hotter”.</p>
            </div>
          </div>
  <!-- footer -->
  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="btn-group btn-group-justified">
        <a class="btn btn-default" role="button" href="/">
          <span class="glyphicon glyphicon-home"></span>
        </a>
        <a class="btn btn-default" role="button" href="/help">
          <span class="glyphicon glyphicon-question-sign"></span>
        </a>
        <a class="btn btn-default" role="button" href="/settings">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <a class="btn btn-default" role="button" href="/logout">
          <span class="glyphicon glyphicon-log-out"></span>
        </a>
      </div>
    </div>
  </div>
  </nav>

    <!-- JavaScript -->
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
