<!doctype html>
<html>
  <head>
    <title>CriSee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">

      <h1>Help</h1>
      <p>Welcome to Cri-See!</p>
      <p></p>
      <p>Our goal is to help you manage and (hopefully) avoid your academic crises.  It’s very simple:</p>
      <p></p>
      <p>1) Click on “Add Event”.</p>
      <p>This will allow you to add an assignment/test/quiz to your crisis monitor.</p>
      <p></p>
      <p>2) Fill out each of the criteria for the event.</p>
      <p>You can click Add Tag to create a new selection in each of the drop-down menus. </p>
      <p></p>
      <p>3) Select a stress reading.</p>
      <p>This is how you feel about the difficulty of the assignment/task. Try to be as accurate as possible because this information will help us calculate your crisis calendar.</p>
      <p></p>
      <p>4) Click “Done”.</p>
      <p>You’ve added an event to your crisis calendar!</p>
      <p></p>
      <p>5) Continue adding all of your academic deadlines.</p>
      <p>If you provide us with all of your academic deadlines and stress, we can provide you with the most accurate readings on your crisis calendar and a peace of mind.</p>
      <p></p>
      <p>May your Cri-see disappear.</p>

    </div>

    <!-- JavaScript -->
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
