<!doctype html>
<html>
  <head>
    <title>CriSee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/help.css" rel="stylesheet">
    <link href="css/navbar.css" rel="stylesheet">

    <!-- JavaScript -->
    <script src="js/apple-mobile-webapp.js" ></script>
  </head>
  <body>
    <h2> Help </h2>

    <div class="container">

    <br/>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              What is CriSee?
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">

          </br>
          <p>Welcome to <b>CriSee</b>!  It is our goal to help you manage and (hopefully) avoid your academic crises.  In this web app, if you provide us with all of your academic deadlines and stress, we can provide you with a visual of your crisis periods and a peace of mind.  Furthermore, if you would like, we can also provide you with advice about ways you can stay healthy and fit during these times of crises.</p>
          <p><b><i>May your Cri-see disappear.</i></b></p>
          </br>

          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              How do I add events to my calendar?
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">

            <br/>
            <p>  It’s very simple:</p>
            <br/>
            <p><b>1) Click on “Add Event”.</b></p>
            <p>This will allow you to add an assignment/test/quiz to your crisis monitor.</p>
            <br/>
            <p><b>2) Fill out each of the criteria for the event.</b></p>
            <p>This includes the name of the assignment and its due date.</p>
            <br/>
            <p><b>3) Select a stress reading.</b></p>
            <p>This is how you feel about the difficulty of the assignment/task. Try to be as accurate as possible because this information will help us calculate your crisis calendar.</p>
            <br/>
            <p><b>4) Click "Add Event to Calendar".</b></p>
            <p>You’ve added an event to your crisis calendar!</p>
            <br/>
            <br/>

          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              How do I edit/delete an event?
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            GONNA FILL DIS IN
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
              What is the Settings page?
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="btn-group btn-group-justified">
        <a class="btn btn-default" role="button" href="/">
          <span class="glyphicon glyphicon-home"></span>
        </a>
        <a class="btn btn-default" role="button" href="/help">
          <span class="glyphicon glyphicon-question-sign"></span>
        </a>
        <a class="btn btn-default" role="button" href="/settings">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <a class="btn btn-default" role="button" href="/logout">
          <span class="glyphicon glyphicon-log-out"></span>
        </a>
      </div>
    </div>
  </div>
  </nav>

    <!-- JavaScript -->
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
