<!doctype html>
<html>
  <head>
    <title>CriSee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <!-- CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
  </head>
  <body>
    <center>
      <br/>
      <div style = "text-align: center; float:left; padding-left: 20px;">
      <a href = "/"> Back </a>
      </div>

      <div class="container">

      <br/>
      <p>Hi, {{username}}! Your next crisis is in <b>2</b> days.</p>
      <br/>
      <a href="/calendar">Calendar</a>
      <br/>
      <a href="/reminders">Reminders</a>
      <br/>
      <a href="/settings">Settings</a>
      <br/>
      <a href="/help">Help</a>
      <br/>
    </div>
  </center>


    <!-- JavaScript -->
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
