<!doctype html>
<html>
  <head>
    <title>CriSee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <!-- CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/settings.css" rel="stylesheet">
    <link href="bootstrap.css" rel="stylesheet">
    <link href="bootstrap-switch.css" rel="stylesheet">
  </head>
  <body>
      <h2> Settings </h2>

      <div class="container">

      <form role="form">
        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
        </div>

      <form role="form">
        <div class="form-group">
          <label for="inputPhone">Phone </label>
          <input type="tel" class="form-control" id="inputPhone" placeholder="Enter phone number">
        </div>

        <div class="control-group">
          <div class="controls">
            <label> Reminders </label>
            <div class="radio">
              <label> 
                <input type="radio" name="optionsRadios" id="yes" value="option1" checked> Yes
              </label>
            </div>
            <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="no" value="option2"> No
            </label>
            </div>
          </div>
        </div>


        <div class="control-group">
          <div class="controls">
          <label class="checkbox"> <input type="checkbox"> Food </label>
          <label class="checkbox"> <input type="checkbox"> Sleep </label>
          <label class="checkbox"> <input type="checkbox"> Exercise </label>

     <!-- <script>
        if(document.getElementById("no").checked) {
          $('li.choices').hide();
          console.log('ALKJDHSLKJDH');
        }
      </script> -->
    
      </div>


    <!-- JavaScript -->
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="jquery.js"></script>
    <script src="bootstrap-switch.js"></script>
  </body>
</html>