body {
  background-color: #24D9FF;
  font-size: 16px;
}
h2 {
	text-align: center;
	vertical-align: bottom;
	background-color: #F8F8F8;
	margin: 0px;
	padding-top: 5px;
	height: 50px;
	margin-bottom: 8px;
	width: 100%;
}


#RGB {
	height: 20px;
	background: rgb(128, 128, 128);
}
#RC .slider-selection {
	background: #FF8282;
}
#RC .slider-handle {
	background: red;
}
#GC .slider-selection {
	background: #428041;
}
#GC .slider-handle {
	background: green;
}
#BC .slider-selection {
	background: #8283FF;
}
#BC .slider-handle {
	border-bottom-color: blue;
}
#R, #G, #B {
	width: 300px;
}