.listview table {
  width: 100%;
  border: 3px solid black;
  border-collapse: collapse;
  margin: 10px 0px 10px 0px;
}

h4 {
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.listview tr {
  background-color: #FFFFFF;
  border: 1px solid black;
}

.listview-elem {
  background-color: #ddd;
}

.event a {
  padding: 10px;
  display: block;
}
.event a:link {
  text-decoration: none;
}

.event .title {
  color: black;
  font-weight: bold;
  font-size: 18px;
  text-align: right;
}

.event .date {
  color: gray;
  font-size: 12px;
  display: block;
}

.event .noevents {
  padding: 10px;
  display: block;
}
