body {
  background-color: #24D9FF;
}

#dayview {
  display: none;
}

#addeventbutton {
  display: block;
  padding: 8px;
  background-color: #126C7F;
  width: 100%;
  border: 3px solid black;
  color: #20C3E5;
}

.calendar tr {
  background-color: #FFFFFF;
}

.calendar table {
  border: 3px solid black;
  border-collapse: collapse;
  text-align: center;
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  margin: 30px 0px;
  width: 100%;
  height: 300px;
}

.calendar td {
  padding: 5px;
  border: 1px dotted black;
  min-width: 20px;
}

.calendar .mainHeader td {
  font-weight: bold;
  border: 1px solid black;
}

.calendar .mainHeader a {
  text-decoration: none;
  font-size: 120%;
}

.calendar .subHeader td {
  text-decoration: underline;
  border: 1px solid black;
  border-bottom: 3px solid black;
}

.calendar tr .thisMonth {
  color: black;
}

.calendar tr .otherMonth {
  color: #BBB;
}
