body {
  font-size: 20px;
  background-color: #24D9FF;
}
a {
  color: #20C3E5;
  display: block;
  width: 150px;
  padding: 5px;
  border: 2px #126C7F ;
  border-radius:25px;
  background: #126C7F;
}

b {
  color: #FF8A24;
}

a:visited, a:link, a:hover, a:active {
  color: #20C3E5;
  text-decoration: none;
}
