body {
  background-color: #24D9FF;
  padding-top: 85px;
}

.list-group-item {
	font-weight: bold;
	font-size: 16px;
	text-align: left;
}

form {
	display: inline;
	margin-left: 5px;
	float: right;
	margin-bottom: 8px;
	padding-bottom: 5px;
}

li {
	text-align: right;
}
span.glyphicon {
	font-size: 30px;
}
.radioButtons {
	padding-bottom: 20px;
}
li.choices {
	text-align: right;
}
